/* XL (laptop) Device :1200px. */

@media (min-width: 1400px) and (max-width: 1708px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result .time_result_summary ul li .time_amount {
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   padding: 19px 24px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box{
   padding: 19px 24px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li {
   display: inline-block;
   width: 60px;
   height: 60px;
   line-height: 60px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li svg {
   height: 38px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul {
   gap: 10px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box{
   padding: 19px 24px;
}
#spillet_page_area .spillet_left_box .step_view_box_result img {
   height: 699px;
}
}

@media (min-width: 1710px) and (max-width: 1880px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 10%;
}
}









@media (min-width: 1200px) and (max-width: 1500px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
} 
}
@media (min-width: 1200px) and (max-width: 1399px) {
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result .time_result_summary ul li .time_amount {
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   padding: 19px 24px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box{
   padding: 19px 24px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li {
   display: inline-block;
   width: 60px;
   height: 60px;
   line-height: 60px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li svg {
   height: 38px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul {
   gap: 10px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box{
   padding: 19px 24px;
}
#spillet_page_area .spillet_left_box .step_view_box_result img {
   height: 699px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result .svg_clock svg{
   height: 150px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .top_belo_title h3{
   font-size: 20px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
}










/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
} 
#nyt_rum_content {
   padding: 100px 0px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item {
   padding: 40px 20px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item h3{
   font-size: 19px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item p{
   font-size: 14px;
}
#rum_page_content .rum_page_banar .bg_banar_content h3{
   font-size: 30px;
}
#start_rude_page {
   padding: 50px 0px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h2{
   font-size: 42px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box .feater_list ul li{
   display: flex;
}
#spillet_page_area .spillet_left_box .step_view_box_result img{
   height: 100%;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right >.row{
   flex-direction: column-reverse;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li {
   margin-right: 0px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result .svg_clock svg{
   height: 150px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .top_belo_title h3{
   font-size: 17px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li{
   height: 60px;
   width: 60px;
   line-height: 60px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li svg {
   height: 41px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul {
   gap: 14px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .top_ups_title h3 {
   font-size: 20px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action{
   margin-top: 10px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action h3{
   font-size: 20px;
}
}



















/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
}
#dashboard_page .top_title h3 {
   font-size: 33px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content {
   margin: 49px 0px;
}
#nyt_rum_content {
   padding: 100px 0px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item {
   padding: 40px 20px;
   margin-bottom: 26px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item h3{
   font-size: 19px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item p{
   font-size: 14px;
}
#rum_page_content .rum_page_banar .bg_banar_content h3{
   font-size: 30px;
}
#start_rude_page {
   padding: 50px 0px;
}
#start_rude_page .start_rude_page_main_content .left_box{
   padding: 40px 27px;
}
#start_rude_page .start_rude_page_main_content .right_box{
   padding: 40px 27px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h2{
   font-size: 42px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box_last{
   margin-top: 50px;
}
#spillet_page_area .spillet_left_box .step_view_box_result img {
   height: 100%;
}
#spillet_page_area .spillet_left_box .step_main_progress_bar {
   margin-top: 34px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   margin-top: 40px;
}
#spillet_page_area .spillet_left_box {
   padding-right: 0px;
}
#global_header .spillet_link_middle h4 {
   font-size: 19px;
}
}















/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
}
#dashboard_page .top_title h3 {
   font-size: 22px;
}
#dashboard_page .dashboard_filter_option {
   padding-top: 20px;
}
#dashboard_page .dashboard_filter_option .filter_area .filter_right_action a{
   font-size: 15px;
}
#dashboard_page .dashboard_filter_option .filter_area .filter_right_action a span{
   height: 45px;
   line-height: 45px;
   width: 45px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content {
   margin: 49px 0px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h3 {
   font-size: 21px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_1_content a{
   font-size: 38px;
}
#nyt_rum_content {
   padding: 70px 0px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item {
   padding: 40px 20px;
   margin-bottom: 26px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item h3{
   font-size: 19px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item p{
   font-size: 14px;
}
#rum_page_content .rum_page_banar .bg_banar_content h3{
   font-size: 30px;
}
#start_rude_page {
   padding: 50px 0px;
}
#start_rude_page .start_rude_page_main_content .left_box{
   margin-bottom: 25px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h2{
   font-size: 35px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box{
   margin-bottom: 30px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box_last{
   margin-top: 30px;
}
#spillet_page_area .spillet_left_box .step_view_box_result img {
   height: 100%;
}
#spillet_page_area .spillet_left_box .step_main_progress_bar {
   margin-top: 34px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   margin-top: 40px;
}
#spillet_page_area .spillet_left_box {
   padding-right: 0px;
}
#global_header .spillet_link_middle h4 {
   font-weight: 500;
   font-size: 14px;
   color: #25282E;
}
#global_header {
   padding: 10px 0px;
}
}

















/* Extra small Device. */
@media (max-width: 575px) {
#auth_wrapper{
   padding: 30px 0px;
}
#auth_wrapper .logo_area a img {
   height: 61px;
}
#auth_wrapper .auth_form_wrapper{
   margin-top: 20px;
   padding: 28px 25px;
}
#auth_wrapper .auth_form_wrapper .top_title h3{
   font-size: 18px;
}
#auth_wrapper .auth_form_wrapper .formBox .input_box label {
   font-size: 14px;
   margin-bottom: 10px;
}
#auth_wrapper .auth_form_wrapper .formBox .input_box input{
   height: 52px;
}
#auth_wrapper .auth_form_wrapper .formBox .bottom_check_agree {
   flex-direction: column;
   align-items: flex-start;
}
#auth_wrapper .auth_form_wrapper .formBox .bottom_check_agree .forgot_paSS{
   margin-top: 10px;
}
#auth_wrapper .auth_form_wrapper .formBox .submit_btn button{
   height: 55px;
}
#auth_wrapper .auth_form_wrapper .formBox .submit_btn {
   margin-top: 20px;
}
#auth_wrapper .account_information {
   margin-top: 20px;
}
#auth_wrapper .auth_form_wrapper .formBox .bottom_check_agree .forgot_paSS a {
   font-size: 14px;
}
#auth_wrapper .auth_form_wrapper .formBox .bottom_check_agree .form-check-label{
   font-size: 14px;
}
#dashboard_page .dashboard_card_wrapper .container-fluid {
   padding-left: 0%;
}
#dashboard_page .dashboard_card_wrapper .dashboard_card_slider_active .owl-dots{
   text-align: center;
   position: relative;
   top: -20px;
} 
#dashboard_page .dashboard_card_wrapper .dashboard_card_slider_active .owl-dots .owl-dot{
   height: 15px;
   width: 15px;
   background: #ddd;
   border-radius: 50%;
   margin: 0px 5px;
   outline: none;
}
#dashboard_page .dashboard_card_wrapper .dashboard_card_slider_active .owl-dots .owl-dot.active{
   background: linear-gradient(111deg, rgba(234,80,61,1) 0%, rgba(247,163,28,1) 100%);
}
#dashboard_page .dashboard_card_wrapper .dashboard_card_slider_active .owl-stage-outer {
   padding: 63px 45px;
   padding-top: 0px;
}
#dashboard_page .top_title h3 {
   font-size: 22px;
   line-height: 28px;
}
#dashboard_page .dashboard_filter_option {
   padding-top: 20px;
}
#dashboard_page .dashboard_filter_option .filter_area .filter_right_action a{
   font-size: 15px;
}
#dashboard_page .dashboard_filter_option .filter_area .filter_right_action a span{
   height: 45px;
   line-height: 45px;
   width: 45px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content {
   margin: 30px 0px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h3 {
   font-size: 21px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_1_content a{
   font-size: 38px;
}
.action_button_form_step ul li{
   display: block;
   margin-bottom: 15px;
}
.action_button_form_step ul li a{
   width: 100%;
}
#nyt_rum_content {
   padding: 100px 0px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_3_content ul .outputValue span{
   font-size: 80px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_3_content ul #minus_btn{
   height: 50px;
   width: 50px;
   line-height: 50px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_3_content ul #plus_btn{
   height: 50px;
   width: 50px;
   line-height: 50px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item {
   padding: 25px 20px;
   margin-bottom: 26px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item h3{
   font-size: 19px;
}
#rum_page_content .rum_page_grid_content .rum_page_grid_item p{
   font-size: 14px;
}
#rum_page_content .rum_page_banar .bg_banar_content h3{
   font-size: 20px;
}
#rum_page_content .rum_page_banar{
   padding: 30px 0px;
   background: #5117BC;
}
#start_rude_page {
   padding: 30px 0px;
}
#start_rude_page .start_rude_page_main_content .left_box{
   margin-bottom: 25px;
}
#start_rude_page .top_title h3 {
   font-size: 29px;
}
#start_rude_page .top_title p{
   font-size: 14px;
}
#nyt_rum_content .nyt_rum_content_content .top_title h2{
   font-size: 24px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_times_box ul li .time_box {
   display: block;
   width: 70px;
   height: 70px;
   font-size: 38px;
   line-height: 70px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .step_times_box ul li {
   margin: 0px 5px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box{
   margin-bottom: 30px;
}
#nyt_rum_content .nyt_rum_content_content .main_form_step_content .ny_rude_3_content .ny_rude_3_item_box_last{
   margin-top: 30px;
}
#spillet_page_area .spillet_left_box .step_view_box_result img {
   height: 100%;
}
#spillet_page_area .spillet_left_box .step_main_progress_bar {
   margin-top: 34px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   margin-top: 40px;
}
#spillet_page_area .spillet_left_box {
   padding-right: 0px;
}  
#spillet_page_area .spillet_left_box .step_view_box_result img{
   height: 100%;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right >.row{
   flex-direction: column-reverse;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box{
   padding: 20px 26px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li {
   margin-right: 10px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .minus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .plus_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 4px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action .pause_time button{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result .svg_clock svg{
   height: 150px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .ups_er_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .top_belo_title h3{
   font-size: 17px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .minus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn{
   font-size: 14px;
}
#spillet_page_area .spillet_right_box .belo_nis_info_box .belonnis_belo_action ul li .plus_btn span{
   height: 35px;
   width: 35px;
   line-height: 35px;
   font-size: 14px;
   margin-right: 5px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li{
   height: 60px;
   width: 60px;
   line-height: 60px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul li svg {
   height: 41px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .usp_step_info_box ul {
   gap: 10px;
}
#spillet_page_area .spillet_right_box .ups_er_info_box .top_ups_title h3 {
   font-size: 20px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action{
   margin-top: 10px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .left_clock_action h3{
   font-size: 20px;
}
#spillet_page_area .spillet_right_box .clock_box_spillet_right .right_clock_result{
   text-align: center;
}
#spillet_page_area .spillet_left_box .step_main_progress_bar .step_cpunt_number .number_box {
   height: 30px;
   width: 30px;
   line-height: 26px;
   font-size: 12px;
}
#global_header .user_dropdown .dropdown-toggle{
   min-height: 75px;
}
#global_header{
   padding: 0px 0px;
}
#global_header .spillet_link_middle{
   display: none;
}
}


























